.login-container {
    position: relative;
    width: 350px;
    margin: 4rem auto;
    
    padding: 40px;
    box-sizing: border-box;
    border-radius: 60px;
    background: linear-gradient(145deg, #989898, #b5b5b5);
    box-shadow: 35px 35px 70px #656565,
        -35px -35px 70px #ededed;
}
.login-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
    letter-spacing: 1px;
}
.login-container label,
.login-container input,
.login-container button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.login-container label {
    margin-bottom: 4px;
    color: #003973;
    margin: 15px 0 5px 5px;

}
.login-container input::placeholder {
    color:#3a6073;
}
.input-field input{
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #656565;
}
.submit-button{
    color: white;
    margin-top: 20px;
    background: #2F4F4F;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}